.class-block {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 300px;
    border: 2px solid rgb(139, 139, 157);
    background-color: #232323;
    margin: 10px;
}

.class-name {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(139, 139, 157);
    background: none;
}

.class-name > input {
    color: aliceblue;
    text-align: center;
    background-color: rgba(139, 69, 19, 0);
    border: none;
    outline: none;
    width: 90%;
    font-size: 18px;
}

.class-block.invalid {
    border-color: red;
}

.class-options {
    display: flex;
    gap: 20px;
    width: 100%;
    height: 40%;
    justify-content: center;
    align-items: center;
    background: none;
}

.class-options button {
    padding: 8px 16px;
    font-size: 16px;
    background: #232323;
    color: #fff;
    border: 1px solid #4a6bcf;
    border-radius: 4px;
    transition: background 0.2s;
}

.class-options button:disabled {
    background: #444;
    color: #aaa;
    border-color: #666;
}

@media (max-width: 768px) {
    .class-block {
        width: 280px;
        height: 180px;
    }
}

@media (max-width: 480px) {
    .class-block {
        width: 100%;
        max-width: 300px;
        height: 160px;
    }

    .class-name > input {
        font-size: 16px;
    }
}
   