

.reset-area{height: 80%; width: 80%;
    display: flex;
    flex-direction: column ; 
    align-items: center;
    justify-content: space-around;

}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pin-area{
    flex-direction: column;
    gap: 30px;
    width: 50%;
}

.pin-area>span{
    color: bisque;
}

.flex-lyt{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pin-validation{
    
    width: 80%;
    gap: 10%;
   
}

.pin-digit-input{
    border-radius :15px ;
    background-color:bisque;
    height: 60px;
    width: 60px;
    text-align: center;

}

.confirm-btn, .disabled-confirm-btn ,.disabled-confirm-btn:hover{
    cursor:auto;
    color: azure;
    height: 50PX;
    width: 100%;
    border-radius: 10px;
    background-color: transparent ;
    border: 2px solid bisque;
   
}

.confirm-btn:hover{
    background-color: bisque;
    transition: rgb(250, 235, 215) 0.3s ease;
    color:black
}
.password-area{
    gap: 40px;
    flex-direction: column;
    width: 50%;
}
.password-area>form{
    flex-direction: column;
    width: 100%;
    gap: 30px;
}

.disabled-label{color: #1e1e1e;}

.password-area div{width: 100%;}

.label{color: bisque;}

.password-input{
    border-radius: 10px;
    width: 100%;
    background-color: #1e1e1e;
    height: 50px;
    color: antiquewhite;
}